@font-face {
    font-family: inconsolata;
    src: url(../font/inconsolata.woff);
}

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #17202A;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.container-principal {
    background-color: #1C2833;
    height: 92vh;
    width: 97vw;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal h1 {
    font-family: inconsolata;
    font-size: 5rem;
    color: #F0F3F4;
    text-shadow: rgb(0, 0, 0) 3px 0 2px;
}

.titulo-dev {
    font-family: inconsolata;
    font-size: 2rem;
    color: #E74C3C;
}

.titulo-nome {
    text-align: center;
    
}

.menu-superior {
    position: fixed;
    top: 55px;
    right: 45px;
}

ul {    
    list-style: none;
}

.lista-menu {
    display: flex;    
    font-family: 'inconsolata';
}

.lista-menu li {
    margin-inline: 10px;
}

a {
    text-decoration: none;
    color: #F0F3F4;
}

.lista-menu li a {    
    border-radius: 2px;
    padding: 5px;
}

.lista-menu li a:hover {
    color: #E74C3C;
    background-color: #F0F3F4;
    box-shadow: 5px 5px 5px black;
    transition: 1s;
}

.footer-sociais {
    font-family: inconsolata;
    font-size: 14px;
    color: #F0F3F4;
    transform: rotate(90deg);
    position: fixed;
    right: 55px;
    bottom: 380px;
}

.lista-sociais {
    position: fixed;
    right: 77px;
    bottom: 77px;
}

.lista-sociais li {
    margin-block: 15px;
    font-size: 20px;
}

.lista-sociais a:hover {
    color: #E74C3C;
    transition: 0.5s;
}

.footer-sociais:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100px;
    width: 70px;
    height: 1px;
    background: #fff;
}




/* Tooltip container */
.tooltip {
    position: relative;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    font-family: inconsolata;
    width: 120px;
    background-color: #E74C3C;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 30px;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    transform: rotate(-90deg);
    top: 35%;
    left: 125px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E74C3C transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


